name: Build

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

env:
  RUSTFLAGS: -Dwarnings
  RUSTC_BOOTSTRAP: 1

jobs:
  check:
    name: Lint & Test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          # https://github.com/actions/checkout/tree/11bd71901bbe5b1630ceea73d27597364c9af683/?tab=readme-ov-file#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/setup

      # Required to lint and test `pgpvis-ui`
      - name: Generate `pgpvis_core.d.ts`
        run: |
          pnpm bootstrap

      - name: Lint
        run: |
          pnpm lint
      - name: Test
        run: |
          pnpm test

  build:
    name: Build
    needs: check
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          # `version.sh` needs git history to determine the version.
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/setup

      - name: Build for production
        run: |
          ./scripts/dist.sh

      - name: Get pgpvis version
        id: version
        run: |
          echo "version=$(./scripts/version.sh)" >> "$GITHUB_OUTPUT"

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: pgpvis-${{ steps.version.outputs.version }}
          path: |
            ./dist/
          if-no-files-found: error
          # The artifacts are already gzipped
          compression-level: 0
    outputs:
      version: ${{ steps.version.outputs.version }}

  deploy-preview:
    name: Deploy to Cloudflare Pages (Preview)
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          name: pgpvis-${{ needs.build.outputs.version }}
          path: ./dist/

      - name: Untar artifacts
        run: |
          cd ./dist/
          tar xfvz ./pgpvis-${{ needs.build.outputs.version }}.tar.gz

      - name: Upload to Cloudflare
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65  # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy
            --project-name pgpvis
            --branch ${{
              github.event_name == 'pull_request'
              && format('pr/{0}', github.event.number)
              || (
                github.ref_type == 'branch'
                && github.ref_name
                || format('tags/{0}', github.ref_name)
              )
            }}
            --commit-hash ${{
              github.event_name == 'pull_request'
              && github.event.pull_request.head.sha
              || github.sha
            }}
            --commit-message "${{
              github.event_name == 'pull_request'
              && github.event.pull_request.title
              || github.sha
            }}"
            ./dist/pgpvis-${{ needs.build.outputs.version }}

  release:
    needs: build
    if: github.ref_type == 'tag'
    permissions:
      contents: write
      deployments: write
    secrets: inherit
    uses: ./.github/workflows/release.yaml
    with:
      version: ${{ needs.build.outputs.version }}
